[submodule "i3"]
	path = i3
	url = https://github.com/tonyaldon/i3.git
[submodule "emacs.d/.emacs.d"]
	path = emacs.d/.emacs.d
	url = https://github.com/tonyaldon/emacs.d.git
[submodule "uconfig"]
	path = uconfig
	url = https://github.com/tonyaldon/uconfig.git
[submodule "keyboard-layout"]
	path = keyboard-layout
	url = https://github.com/tonyaldon/keyboard-layout.git
